*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background: black;
}

.container-header{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.logo-ppal{
    display: flex;
}

.logo-ppal img{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo-ppal h4{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
}


/*PORTADA JOHN ALEXANDER SEGURA*/


.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(../imagenes/portada.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.capa-transp{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-instru{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.instru{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.instru h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.instru p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.instru button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.instru button:hover{
    background: white;
    color: black;
}

/*OPCIONES DE INGRESO JOHN ALEXANDER SEGURA*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

article{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

article h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

article hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}

/*OPCIONES DE INGRESO CONTENEDOR 2 JOHN ALEXANDER SEGURA*/

.content-dos{
    width: 100%;
    padding: 10px;
    background: black;
}

.content-tres{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-item2{
    width: 300px;
    text-align: center;
    margin: 18px;
    color: aliceblue;
}



@media screen and (max-width: 500px){
    .instru p{
        font-size: 18px;
    }
}
