
  
  /* specific boxes */
  
  .quienes  {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 6px solid rgba(0,0,0,0.5);
   
    position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:70%;
  }

  .txtQuienes{
    font-size: 30px;
    font-weight: bold;

  }

  .textGaleria{
    margin-top: 20%
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .imgTable{
    margin-left: auto;
		margin-right: auto;
		display: block;
  }

  .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
  
  
  
#map {
	height: 500px;
	width: 100%;
}
